@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

::-webkit-scrollbar {
  width: 0px;
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #df007c;
  text-decoration: none;
  padding: 200;
}

p {
  color: grey;
  text-decoration: none;
}

body {
  background-color: rgb(15, 15, 15);
  font-family: "Poppins", sans-serif;
}

img {
  height: 180px;
  width: 320px;
}

.about {
  color: white;
  font-size: 12px;
  text-align: center;
}

.about-page {
  color: white;
  font-size: 16;
  text-align: center;
}
.center {
  padding: 70px 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer {
  bottom: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
}

.navbar {
  margin-left: 40px;
  justify-content: space-between;
}

.post {
  margin: 16px;
}

.posts-container {
  background-color: rgb(20, 20, 20);
  display: flex;
  margin: 16px;
  overflow: scroll;
}

.post-description {
  color: white;
  font-size: 12px;
  text-align: center;
  width: 200;
}

.sm-link {
  align-items: center;
  padding-right: 8px;
}

Header {
  color: white;
  margin: 16px 32px 0px 32px;
}
